//
// @font-face's declaration here
//
@font-face {
  font-family: 'NissanAG';
  font-weight: normal;
  font-style: normal !important;
  src: url('../fonts/nissan-ag-medium/nissanpromedium-webfont.eot');
  src: url('../fonts/nissan-ag-medium/nissanpromedium-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/nissan-ag-medium/nissanpromedium-webfont.woff') format('woff'), 
  url('../fonts/nissan-ag-medium/nissanpromedium-webfont.ttf') format('truetype'), 
  url('../fonts/nissan-ag-medium/nissanpromedium-webfont.svg#nissan_agmedium') format('svg');
}
@font-face {
  font-family: 'NissanAG';
  font-weight: 300;
  font-style: normal !important;
  src: url('../fonts/nissan-ag-light/nissanprolight-webfont.eot');
  src: url('../fonts/nissan-ag-light/nissanprolight-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/nissan-ag-light/nissanprolight-webfont.woff') format('woff'), 
  url('../fonts/nissan-ag-light/nissanprolight-webfont.ttf') format('truetype'), 
  url('../fonts/nissan-ag-light/nissanprolight-webfont.svg#nissan_aglight') format('svg');
}
@font-face {
  font-family: 'NissanAG';
  font-weight: bold;
  font-style: normal !important;
  src: url('../fonts/nissan-ag-bold/nissanprobold-webfont.eot');
  src: url('../fonts/nissan-ag-bold/nissanprobold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nissan-ag-bold/nissanprobold-webfont.woff') format('woff'), url('../fonts/nissan-ag-bold/nissanprobold-webfont.ttf') format('truetype'), url('../fonts/nissan-ag-bold/nissanprobold-webfont.svg#nissan_agbold') format('svg');
}