.fanats {

    background-image: url('@{public}images/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 49.23%; /* (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
	border-top : 4px solid #CF253F;
	border-bottom : 4px solid #CF253F;

	&__step {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		display : none;
		&.active {
			display : flex;
		}
		&--step2 {
			&.active {
				display : block;
			}
			padding-top : 50px;
		}
	}

	&__heading {
		margin : 0;
		text-transform: uppercase;
		font-size : 44px;
		font-family : "NissanAG", Helvetica, sans-serif;
		letter-spacing : -1px;
		font-weight : bold;
		position : relative;
		padding-bottom : 40px;

		&--empty {
			height : 0;
			padding-bottom : 0;
		}

		&:after {
			width : 66px;
			height : 8px;
			display : inline-block;
			background : #CF253F;
			position : absolute;
			bottom : 0;
			left : 0;
			content : "";
		}

		&--form {
			&:after { content : none; }
			font-size : 45px;
			text-align: center;
			padding-bottom : 0;
			margin-bottom : 25px;
		}
	}
	&__subheading {
		text-align : center;
		font-size : 28px;
		font-family : 'NissanAG', Helvetica, sans-serif;
		font-weight : 300;
		margin-top : 25px;
		text-transform: uppercase;
	}

	&__step-wrapper {
		padding-left : 40px;
		padding-right : 40px;
		font-family : 'NissanAG', Helvetica, sans-serif;
		.fanats__step--step1 &,
		.fanats__step--step3 & {
			padding-left : 42%;
		}
		@media (max-width: 900px) {
			.fanats__step--step1 &,
			.fanats__step--step3 & {
				padding-left : 40px;
			}
		}

		font-size : 20px;
		line-height : 28px;
		font-weight : 300;
		p {
			font-family : 'NissanAG', Helvetica, sans-serif;
			font-weight : 300;
			font-size : 20px;
			line-height : 28px;
			margin-bottom : 20px;

			&.thank-you {
				font-weight : bold;
				font-size : 24px;
				text-transform: uppercase;
				max-width : 500px;
			}
		}
	}

	&__form {
		max-width : 1190px;
		width : 82%;
		margin : 0 auto;
	}
	&__form-grid {
		lost-utility : clearfix;
		padding-top : 40px;
		border-top : 1px solid #D8D8D8;
	}
	&__input-wrapper {
		lost-column : 1/2 2 20px;

		label.error {
			color : #CF253F;
			margin-bottom : 3px;
			font-family : 'NissanAG';
		}
	}
	&__input {
		&, &:focus {
			outline : none;
		}
		margin-bottom : 20px;
		width : 100%;
		height : 70px;
		border: 1px solid #d8d8d8;
		line-height : 70px;
		color : #7f7f7f;
		font-size : 24px;
		padding-left : 24px;
		text-transform: uppercase;
		&::placeholder {
			color : #7F7f7F;
		}
		&.error {
			margin-bottom : 0px;
			border-color : #CF253F;
		}
	}
	&__form-checkbox-label {
		lost-column : 1/2 2 20px;
		position: relative;
		label.error {
			position: absolute;
			bottom: -30px;
			color : #CF253F;
			font-family : 'NissanAG';
		}
		input[type=checkbox] {
			float : left;
			appearance : none;
			cursor : pointer;
			&, &:focus {
				outline : none;
			}
			&:before {
				content : url('@{public}images/checkbox-off.jpg');
				width : 32px;
				height : 32px;
				display : inline-block;
				padding-top : 19px;
			}
			&:checked {
				&:before {
					content : url('@{public}images/checkbox-on.jpg');
				}
			}
		}
		span {
			display: block;
			padding-left: 50px;
			line-height: 30px;
			padding-top: 5px;
			font-size: 24px;
			color: #7F7F7F;	
			cursor : pointer;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}


	}

	&__submit-wrapper {
		margin-top : 20px;
		text-align : center;
	}

	&__button {
		font-size : 22px;
		width : 418px;
		height : 70px;
		background : #CF253F;
		line-height : 70px;
		text-align: center;
		display : inline-block;
		font-family : 'NissanAG', Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight : normal;
		border : none;

		&--submit {
			width : 485px;
		}

		&, &:hover, &:visited, &:active {
			color : @white;
			text-decoration: none;
		}
	}
}