<script src="<?= publicdir('vendor/jquery.min.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.masked-input.js') ?>"></script>
<script src="<?= publicdir('vendor/jquery.validate.min.js') ?>"></script>
<script src="<?= publicdir('js/main.js') ?>"></script>