<?php // example of including a block:
     // include "src/views/blocks/block-name.phtml" ?>

<div class="fanats">
	<div class="fanats__step fanats__step--step1 active">
		<div class="fanats__step-wrapper">
			<h1 class="fanats__heading">#длянастоящихфанатов</h1>
			<p>Ты настоящий болельщик и поддерживаешь любимую команду на всех домашних матчах?</p>
			<p>Тогда эта уникальная возможность для тебя. Воспользуйся шансом изменить
			свою жизнь к лучшему и стать обладателем автомобиля, с которым
			достижимы все горизонты и любые подвиги по плечу —&nbsp;&nbsp;Nissan X-Trail!</p>
			<p>
				<a href="#" class="fanats__button" id="fanats_start">Заполнить форму</a>
			</p>
		</div>
	</div>
	<div class="fanats__step fanats__step--step2">
		<div class="fanats__step-wrapper">
			<h1 class="fanats__heading fanats__heading--form">Заполните форму</h1>
			<h2 class="fanats__subheading">И получите 20 баллов</h2>
			<form class="fanats__form">
				<div class="fanats__form-grid">
					<div class="fanats__input-wrapper">
						<input required type="text" name="firstname" class="fanats__input fanats__input--firstname" placeholder="имя">	
					</div>
					<div class="fanats__input-wrapper">
						<input required id="phone" type="text" name="phone" class="fanats__input fanats__input--phone" placeholder="телефон">
					</div>
					<div class="fanats__input-wrapper">
						<input required type="text" name="surname" class="fanats__input fanats__input--surname" placeholder="фамилия">
					</div>
					<div class="fanats__input-wrapper">
						<input required id="dob" type="text" name="dob" class="fanats__input fanats__input--dob" placeholder="дата рождения">
					</div>
					<div class="fanats__input-wrapper">
						<input required type="email" name="email" class="fanats__input fanats__input--email" placeholder="электронный адрес">
					</div>	
					<label class="fanats__form-checkbox-label"><input type="checkbox" name="agree" value="" required>
						<span>Я согласен с правилами конкурса и на обработку моих данных</span>
					</label>
				</div>
				<div class="fanats__submit-wrapper">
					<input type="submit" class="fanats__button fanats__button--submit" value="Отправить">	
				</div>
			</form>
		</div>
	</div>
	<div class="fanats__step fanats__step--step3">
		<div class="fanats__step-wrapper">
			<h1 class="fanats__heading fanats__heading--empty">&nbsp;</h1>
			<p class="thank-you">Вам начислено 20 баллов. На Ваш почтовый ящик отправлено письмо с подтверждением.</p>
		</div>
	</div>
</div>